* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --secondary-color: #FFF3E3;
    --primary-color: #B88E2F;
    --text-primary-color: #333333;
    --text-secondary-color: #3A3A3A;
    --text-third-color: #666666;
}

* h2 {
    color: var(--text-primary-color);
}

* p {
    color: var(--text-third-color);
}

::-webkit-scrollbar {
    width: 2px;
}

/* ===================================================================================== */
/* === Header Section Style === */
.header-container {
    background: #ffffff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}


.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: #3A3A3A;
}

.navbar .hideOnMobile {
    display: none;
}

.header-rightside-icon {
    display: none;
}

.fa-bars {
    font-size: 25px;

}

.h-r-icons {
    display: flex;
}


/* === Header Responsive === */
@media only screen and (min-width: 768px) {
    .header-container {
        font-size: clamp(1rem, 2vw, 1.5vw);
    }

    .navbar ul li {
        margin: 0 1vw;
    }

    .navbar .hideOnMobile {
        display: block;
    }

    .header-rightside-icon {
        display: block;
    }

    .bars {
        display: none;
    }

    .h-r-icons>div img {
        display: flex;
        margin: 0 10px;
        width: 22px;
    }
}

@media only screen and (min-width: 1200px) {
    .logo img {
        width: 12vw;
    }

    .header-container {
        height: 8vh;
        font-size: clamp(1.2rem, 2vw, 1.5vw);
    }

    .navbar ul li {
        margin: 0 1vw;
    }

    .h-r-icons>div img {
        display: flex;
        margin: 0 1vw;
        width: 2vw;
    }
}

/* === Header Responsive === END */
/* === Header Section Style END === */
/* ===================================================================================== */

/* === Hero Section=== */
.hero-area {
    margin-top: 60px;
    height: 50vh;
    width: 100%;
}

.hero-container {
    height: 100%;
    width: 100%;
    background: url(https://s3-alpha-sig.figma.com/img/1461/f3d6/ff74c027a1888544144abe4be6e02cbf?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=qd65JfowUZaZv1zJDOUOSG9TNFYWAfyCCaqsCqBtJ-g7~sYDOaulmzuAYFlzhXLZPQTpMwhgHHT91YPN2~iQdot5p8OnenLv~d~wlbBewuUm~VBbG~4fFVefRr2XTgWqJCvKZnnqF1kNXemfhVRBqqusXLU1aYuBPyVk2AHvaAgYdgL2GQbVw4IocAxlHoUBO2dbZyf8PdfgFfcv7gB7PbyFYI6i4X2-WFEjgrr0cp2MyUX66B3wkUg7Uku0DR03vDF8MGRNwfc9w9nhKBHMhFNOOaT1uIYWmJGGXQOXZmtfyDy74qXauPDmLv-oGTZv2~xs2UYXYwVs9h90Y8-7zA__);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.hero-inner-text-container {
    height: 100%;
    width: 100%;
    background: #ffffff5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading img {
    width: 50px;
}

.hero-heading h2 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    min-width: fit-content;
    color: var(--text-secondary-color);
}

.home-text span, span a{
    text-decoration: none;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    color: var(--text-primary-color-color);
}


/* === Hero Responsive === */
@media only screen and (min-width: 768px) {
    .hero-container {
        width: 100%;
        background-position: center;
        background-size: 100%;
    }

    .hero-heading img {
        width: 6vw;
        display: block;
    }

    .hero-inner-text-container {
        background: #ffffff5f;
    }

    .hero-inner-text-container>div {
        position: relative;
        bottom: 40px;
    }

    .hero-heading h2 {
        font-size: 3.5vw;
        border: none;
        padding: 0;
        width: 0;
        min-width: fit-content;
        color: var(--text-primary-color);
    }

    .home-text span > a {
        text-decoration: none;
        font-weight: 700;
        font-size: clamp(0.5rem, 2vw, 1rem);
        color: var(--text-secondary-color);
    }

    .home-text > span {
        text-decoration: none;
        font-weight: 400;
        font-size: clamp(0.5rem, 2vw, 1rem);
        color: var(--text-secondary-color);
    }
}

@media only screen and (min-width: 1200px) {

    .hero-heading h2 {
        font-size: clamp(4vw);
    }

    .home-text span{
        font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    }
    .home-text span > a {
        font-size: clamp(0.5rem, 1vw, 1.5rem);
    }
}

/* === Hero Responsive END === */
/* === Hero Section=== END */
/* ===================================================================================== */
/* === Contact Form === */
.contact-form-section{
    padding: 5vh 0;
    width: 100%;
    min-height: fit-content;
}
.contac-form-heading{
    margin: 5vh 0;
}
.contac-form-heading h2{
     text-align: center;
}
.contac-form-heading > p{
    font-size: 12px;
     text-align: center;
     width: 60%;
     margin: 0 auto;
}
.contact-form-section-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}
.contact-address-area{
    width: 100%;
}
.contact-address-container{
    display: flex;
    gap: 1vw;
    margin-left: 15vw;
}
/* address area end */

.contact-form-area{
    width: 100%;
}
.contact-form{
    margin: 0 auto;
    line-height: 10vh;
}
.contact-form input, label, button{
    display: block;
}
.contact-form label{
    font-weight: 600;
}
.contact-form input{
    width: 100%;
    height: 50px;
    padding-left: 2.5vw;
    border: 1px solid var(--text-third-color);
    border-radius: 5px;
}
#message{
    height: 140px;
}
.sub-btn{
    margin: 5vh 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 2vh 10vw;
    border-radius: 4px;
    transition: 0.5s ease;
}
.sub-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
/* === Contact Form Responsive === */
@media only screen and (min-width: 768px){
    .contact-form-section-container{
        flex-direction: row;
    }
    .contact-address-container{
        margin-left: 0;
        margin-top: 5vh;
    }
    .sub-btn{
        font-size: clamp(16px, 18px, 22px);
        padding: 2vh 4vw;
    }
    @media only screen and (min-width: 1200px) {
        .contac-form-heading h2{
            font-size: 2vw;
       }
       .contac-form-heading > p{
        font-size: 0.8vw;

       }
        .contact-form label{
            font-size: clamp(18px, 1vw,1.1vw);
        }
        .address-heading h4{
            font-size: clamp(25px, 1vw,1.1vw);

        }
        .address-sub-text p{
            font-size: 0.6vw;

        }
    }
}

/* === Contact Form Responsive END=== */
/* === Contact Form END=== */
/* ===================================================================================== */
/* === Service section === */
.service-area {
    min-height: 35vh;
    height: fit-content;
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
}

.service-container {
    height: fit-content;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.service-item {
    display: flex;
    flex-direction: column;
}

.service-img img {
    width: 7vw;
}

/* === Service section Responsive=== */
@media only screen and (min-width: 768px) {
    .service-area {
        text-align: left;
    }

    .service-container {
        min-height: 35vh;
        flex-direction: row;
        gap: 6vh;
        justify-content: space-evenly;
        align-items: center;
    }

    .service-item {
        flex-direction: row;
        align-items: center;
        gap: 2vw;
    }

    .service-img img {
        width: 5vw;
    }
}

@media only screen and (min-width: 1200px) {
    .service-text h4 {
        font-size: clamp(1rem, 4vh, 1.2rem);
    }
}

/* === Service section Responsive END=== */
/* === Service section END === */
/* ===================================================================================== */
/* === Footer Section === */

.footer-area {
    height: fit-content;
    width: 100%;
    text-align: center;
}

.footer-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.f-address p {
    font-size: clamp(12px, 2vw, 14px);
    color: #666666;
}

.f-all-title h2 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(152, 152, 152);
}

.f-list ul {
    list-style: none;
}

.f-list ul li a {
    font-weight: 700;
    text-decoration: none;
    color: var(--text-primary-color);
}

#email {
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117);
}

.f-email-sub-btn {
    margin-top: 1vh;
    width: 100%;
    font-weight: 600;
    background: transparent;
    border: none;
    text-align: center;
}

hr {
    width: 85%;
    margin: 5vh auto;
    color: var(--text-third-color);
}

.all-rights-reverved {
    display: none;
}

/* === Footer Responsive === */
@media only screen and (min-width: 768px) {
    .footer-area {
        height: fit-content;
        width: 100%;
        text-align: center;
    }

    .footer-container {
        height: fit-content;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: space-around;
        line-height: 50px;
    }

    .f-address {
        line-height: 18px;
        text-align: left;
    }

    .all-rights-reverved {
        text-align: left;
        margin-top: 5%;
        margin-left: 8%;

        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-container {
        line-height: 10vh;
    }

    .f-brand-title h2 {
        font-size: clamp(1.5vw, 2vw, 2.5vw);

    }

    .f-list ul li a {
        font-size: clamp(1.1vw, 1.3vw, 1.5vw);

    }

    .f-all-title h2 {
        font-size: clamp(1.3vw, 1.5vw, 1.6vw);
    }

    .f-mail-sub-form input {
        font-size: clamp(1.3vw, 1.5vw, 1.6vw);
    }

    .f-mail-sub-form button {
        font-size: clamp(1.3vw, 1.2vw, 1.5vw);
    }

    .f-address p {
        font-size: clamp(1vw, 1.2vw, 1.5vw);
        color: #666666;
    }

    .f-address {
        line-height: 3vh;
    }
    .all-rights-reverved {
    font-size: clamp(1.3vw, 1.5vw, 1.6vw);
    }
}

/* === Footer Responsive END === */
/* === Footer Section END === */